@page
@model MindLog.WebApp.Pages.Authors.IndexModel

@{
    ViewData["Title"] = "Authors";
}

<h1>Authors</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New Author</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Books</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model.Authors)
        {
            <tr>
                <td>@($"{a.FirstName} {a.LastName}")</td>
                <td>@a.BooksCount</td>
                <td>
                    <a asp-page="Details" asp-route-id="@a.Id">Details</a> |
                    <a asp-page="Edit" asp-route-id="@a.Id">Edit</a> |

                    <form method="post" asp-page-handler="Delete" asp-route-id="@a.Id"
                          style="display:inline">
                        <button type="submit" class="btn btn-link p-0 m-0 align-baseline">
                            Delete
                        </button>
                    </form>

                    <form method="post" asp-page-handler="Restore" asp-route-id="@a.Id"
                          style="display:inline">
                        <button type="submit" class="btn btn-link p-0 m-0 align-baseline">
                            Restore
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
